*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color:rgb(12, 87, 122);
    --box-color:rgb(190, 188, 11);
}
body{
    background-color: var(--background-color);
}
.container{
    background-color: var(--box-color);
    width: 40%;
    margin: 10% auto;
    height: 44vh;
    text-align: center;
    padding: 10px;

}
.container div{
    display: flex;
    justify-content: space-around;
}
div input{
    width: 60%;
    height:30px;
    outline: 0;
    border: solid 2px black;
}
button{
    width: 23%;
    border: 2px solid black;
    text-transform: uppercase;
    font-weight: 800;
    padding: 5px;
    font-size: 12px;
}
ul{
    width: 70%;
    list-style-position:inside;
    text-align: left;
    text-transform: uppercase;
}
li{
    margin: 10px 0;
}
.delete{
    width: 30%;
    background-color: red;
    padding: 2px;
    font-weight: 400;
}